html,
body {
  height: 100vh;
  width: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: black;
  background-color: rgb(158, 188, 225);
}

.text-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-center h1 {
  font-weight: 900;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 30px;
  text-align: center;
  padding: 10px;
  width: 200px;
}

li,
footer {
  list-style: none;
  padding: 10px;
  font-size: 25px;
  display: block;
  text-align: center;
}

footer {
  color: white;
}

canvas {
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

.fa-free-code-camp {
  color: green;
}

ul {
  padding: 0;
  list-style-type: none;
}

.center-text {
  font-size: 27px;
  font-weight: 600;
}

.title {
  color: #dd0853;
  font-size: 20px;
}
